<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Nombre: <%= name %></p>
    <p>Apellido: <%= secondname %></p>
    <p>Cedula: <%= id %></p>
    <p>Materia: <%= mat %></p>
    <p>Seccion: <%= sec %></p>
  </body>
</html>
